<!DOCTYPE html>
<html lang ="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base_style.css') }}"
<title>Focus Timer</title>
</head>
<body>
<header>
	<h1>Focus Timer</h1>
	<div class="dropdownIcon" if="dropdownIcon">
		<div></div>
		<div></div>
		<div></div>
	</div>

	<div class="dropdown-content" id="dropdownContent">
		<h1>Sample Information</h1>
	</div>
</header>
	{% block content %} 
	{% endblock %}
<footer>
	<h1>footer</h1>
</footer>
<script src="{{ url_for('static', filename='js/base_script.js') }}"></script>
</body>
</html>
