<!DOCTYPE html>
<html lang ="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Focus Timer</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base_style.css') }}">
	{% block extra_css %}
	{% endblock %}
</head>
<body>
    <div class="container">
	<header>
		<h1>Focus Timer</h1>
		<div class="dropdownIcon" id="dropdownIcon">
			<div></div>
			<div></div>
			<div></div>
		</div>
	</header>
	<nav class="nav-bar">
		<ul class="nav-list">
			<li><a href="{{ url_for('general.home') }}">Home</a></li>
			<li><a href="{{ url_for('account.account_details') }}">Account</a></li>
			<li><a href="{{ url_for('tasks.tasks') }}">Tasks</a></li>
		</ul>
	</nav>
	<main>
		{% block content %} 
		{% endblock %}
	</main>
	<footer>
		<h1>Current Focus: select a task</h1>
		<button id="taskCompleted">|Task Complete|</button>
    	</footer>
	<div class="dropdown-content" id="dropdownContent">
		<h2 id="taskListTitle">Tasks</h2>
		<h3>Tasks to do:</h3>
		<ul id="taskListToDo"></ul>
		<h3>Tasks done:</h3>
		<ul id="taskListDone"></ul>
	</div>
    </div>
    <script src="{{ url_for('static', filename='js/tasks_script.js') }}"></script>
    {% block extra_js %}
    {% endblock %}
</body>
</html>
